* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */

:root {
    --primary : #1a252f;
    --dark : #151A33;
    --secondary: #2b55cc;
    --info : #4d79f6;
    --ternary : #848db3;
    --pure : #eff2f9;
    --fade : #7881b9;
    --mild : #8997bd;
    --footer : #212A4A;
    --black : #060b1b;
    --twitter : #4ac7ec;
    --dribble : #ff5da0;
    --success : #1ecab8;
    --danger : #f1646c;
    --darkblue : #28365f;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

header {
    background-color: var(--dark);
    height: 120px;
}

section.sticky {
    padding: 0;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

header .logobar .logo {
    text-transform: uppercase;
    color: var(--footer);
    font-size: 18px;
    padding-top: 15px;
    padding-left: 50px;
    letter-spacing: 1px;
    font-weight: 500;
}

header .logobar .logo i {
    font-size: 70px;
    float: left;
    color: var(--secondary);
}

header .logobar .logo h1{
    font-family: 'Stylish', sans-serif;
    color: var(--pure);
    padding-top: 25px;
}

nav {
    background-color: var(--primary);
}
nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
}

nav ul li a:hover {
    font-size: 25px;
    text-transform: capitalize;
    color: white;
    background-color: var(--secondary);
    font-family: 'Cormorant Garamond', serif;
}


nav ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 20px;
  padding-right: 55px;    
}

nav ul.nav_icons li:nth-child(1) a {
    margin-left: 60px;
}

section {
    padding: 3rem;
}

main {
    background-color: var(--black);
}

section.about .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18rem;
}

section.about .content p {
    color: var(--ternary);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin-top: 1rem;    
}

h1.section_heading {
    color: white;
    font-size: 27px;
}

section.about .content .left button {
    background: rgba(77,121,246,0.1);
    color: var(--info);
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    margin-top: 25px;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}

/* section.about .cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, var(--secondary),var(--success));
}

section.about .left p h1{
    padding-bottom: 1rem;
    font-weight: 400;
} */

section.about p{
    color: var(--mild);
    font-size: 14px;
}

section.about .cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, var(--secondary),var(--success));
}

section.about p b{
    color: var(--info);
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 1rem;
    font-weight: 400;
}

section.about p b i{
    color: var(--danger);
}

.right figure figcaption {
    align-content: center;
    margin-left: 130px;
    margin-top: 30px ;
}


section.section1 {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    color: var(--mild);
}

section.section1 .study_material h2 {
    margin-bottom: 20px;
    color: var(--info);
    font-family: 'Ubuntu', sans-serif;
}

section.section1 .study_material .syntax {
   color: var(--pure);
   background-color: var(--fade);
   margin-top: 10px;
   padding: 10px;
   border-radius: 25px;
   line-height: 1.5;
   /* border-radius: 90%; */
}

#first {
    margin-bottom: 130px;
}

#second {
    margin-bottom: 120px;
}

#third {
    margin-bottom: 480px;
}

#fourth {
    margin-bottom: 120px;
}

#fifth {
    margin-bottom: 520px;
}

#sixth {
    margin-bottom: 380px;
}

#seventh {
    margin-bottom: 50px;
}

#eight {
    margin-bottom: 140px;
}

#ninth {
    margin-bottom: 280px;
}

#tenth {
    margin-bottom: 120px;
}

#eleventh {
    margin-bottom: 120px;
}


#twelveth {
    margin-bottom: 580px;
}

#twelveth h3 {
    margin-bottom: 0px;
}

#thirteen {
    margin-bottom: 1070px;
}

#forteenth{
    margin-bottom: 280px;
}

#fifteeth {
    margin-bottom: 1700px;
}

section.section1 .study_material .syntax p {
    font-family: 'Source Code Pro', monospace;
}

section.section1 .study_material h3 {
    margin-bottom: 15px;
    color: slateblue;
    font-family: 'Nanum Gothic', sans-serif;
}

section.section1 .study_material p {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    margin-left: 0;
}

section.section1 .study_material figure {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

section.section1 .study_material figure p {
    margin-bottom: 10px;
}

footer {
    background-color: var(--primary);
    height: 50px;
    width: 100%;
}
footer p.center {
    text-align: center;
    padding-top: 10px;
}

.logo i {
    color: var(--danger);
}

 
section.about_author .cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, var(--secondary),var(--success));
}

section.about_author #author {
    text-align: center;
}

section.about_author p b{
    text-align: center;
    color: var(--info);
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 1rem;
    font-weight: 400;
}

section.about_author p b i{
    color: var(--success);
    font-size: 16px;
}

section.about_author p {
    margin-bottom: 35px;
}

section.about_author .content2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 30rem;
}

section.about_author .content2 h2 {
    color: slateblue;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}

section.about_author .content2 p {
    text-align: justify;
    color: var(--mild);
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

section.about_author .content2 .right ul.contact {
    list-style-type: none;
    margin-bottom: 1.6rem;
} 

section.about_author .content2 .right ul.contact li{
    color: var(--ternary);
    margin-bottom: 1rem;
    font-size: 15px;
}

section.about_author .content2 .right ul.contact li i {
    color: slateblue;
    font-size: 18px;
    margin-right: 0.5rem;
}

section.about_author .content2 .right ul.socials li {
    margin-right: 0.8rem;
}

section.about_author .content2 .right ul.socials{
    display: flex;
    align-items: center;
}

section.about_author .content2 .right ul.socials {
    list-style-type: none;
} 

section.about_author .content2 .right ul.socials li a {
    display: inline-block;
    width:36px;
    height:36px;
    line-height: 36px;
    border-radius: 50px;
    color:var(--pure);
    text-align: center;
}

section.about_author .content2 .right ul.socials li:nth-child(1) a {
    background: var(--secondary);
}

section.about_author .content2 .right ul.socials li:nth-child(2) a {
    background: linear-gradient(#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737
    ,#FCAF45, #FFDC80);;
}

section.about_author .content2 .right ul.socials li:nth-child(3) a {
    background: #6e5494;
}

section.about_author .content2 .right ul.socials li:nth-child(4) a {
    background: #25D366;
    color: var(--black) !important;
}

section.about_author .content2 .right ul.socials li:nth-child(5) a {
    background: var(--info);
}

section.about_contact .cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, var(--secondary),var(--success));
}

section.contact {
    padding-top: -20px;
}

section.contact p b{
    text-align: center;
    color: var(--info);
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 1rem;
    font-weight: 400;
}

section.contact p b i {
    color: var(--success);
    background: linear-gradient(var(--success));
}

section.contact .content {
    margin-top: 35px;
}

section.contact .content .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(2,1fr); */
    grid-gap: 30px;
    align-items: center;
    margin-bottom: 14px;
}

section.contact .content .left label{
    color: var(--mild);
    margin-left: 30px;
    margin-left: 150px;
}

section.contact .content .left input{
    color: var(--pure);
    font-family: 'Ubuntu', sans-serif;
    padding-left: 7px;
    background-color: transparent;
    border-color: var(--secondary);
    outline: none;
    width: 250px;
    height: 35px;
}

section.contact .content .right {
    margin-top: 50px;
    margin-left: 150px;
}

section.contact .content .right label {
    color: var(--mild);
    padding-top: -50px;
}

section.contact .content .right textarea {
    padding-left: 10px;
    font-size: 15px;
    color: var(--pure);
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 15px;
    background-color: transparent;
    border-color: var(--secondary);
    outline: none;
    width: 138vh;
    height: 200px;
}

section.contact .content .right button{
    margin-left: 140vh;
    color: var(--pure);
    background: var(--secondary);
    border: none;
    padding: 1rem 2rem;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}








